@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*header {
  background-color: grey;
  height: 200px;
}

.logo img {
  height: 50%;
  float: left;
  /*margin-left: 20px;
  margin-top: 20px;*/

/*nav {
  overflow: hidden;
  display: flex;
  float: right;
  line-height: 150px;
}

/*nav a { 
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/*a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}*/

.login {
  float: right;
  position: relative;
  bottom: 75px;
}

.backgroundHome{
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
}