.App {
  text-align: center;
}

header{
  background-color: grey;
  height: 200px;
}


.logo{
  height: 150px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

nav {
  overflow: hidden;
  display: flex;
  float: right;
  line-height: 150px;
}

nav a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.login{
  float: right;
  position: relative;
  bottom: 75px;
}