@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* Modals */
  --btnColor: #a7915e;
  --border: 2px solid#161616d2;
  --bgColor: rgba(230, 207, 188, 0.829);
  --BgPop: hsl(0, 0%, 0%, 1.4);
  --gap: 25px;
  --btnWidth: 250px;
  --btradius: 26px;
  --Gap: 25px;

  /* Fonts  */
  --H1: #ffffff;
  --H2Color: #ffffff;
  --H1Size: 3rem;
  --P: #f2f2f2;
  --Psize: 15px;
  --H2: #f2f2f2;
  --H2size: 30px;
  --H3: #f2f2f2;
  --H3size: 40px;

  /* Delete knapper */
  --Delete: rgba(255, 255, 255, 0.143);
  --DeleteColor: rgba(250, 250, 250, 1);
  --DeleteBorder: 2px solid #a7915e;

  /* Tilføj nye beskeder */
  --addbtnSize: 80px;
  --addBtnBGColor: rgba(95, 71, 49, 0.774);
  --addBtnColor: rgb(53, 53, 53);
  --addBtnBorder: 2px solid rgb(216, 212, 215);

  /* nav */

  --navBGcolor: rgba(0, 0, 0, 0.8);
  --iconColor: rgba(250, 250, 250, 1);
}

.login {
  float: right;
  position: relative;
  bottom: 75px;
}

.backgroundHome {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  position: relative;
  bottom: 120px;
  z-index: -1;
}
.backgroundHome1 {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  grid-template-columns: auto;
  grid-gap: 10px 10px;
}

.h1produkt {
  font-size: 4vw;
  color: white;
  text-align: center;
  position: absolute;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.slideshow {
  position: relative;
}

.mainImg {
  transition: all 500ms;
  max-width: 100%;
  height: 600px;

  left: 0px;
  right: 0px;
}

.actions {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background: #0000003d;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
  font-size: 30px;
}

.actions button:active {
  background: #000000a2;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.slide {
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
}

/* css for om os */
.about {
  padding: 6rem 3rem 5rem 3rem;
  background: #f8f8f8;
}
.row {
  display: flex;
  justify-content: space-around;
}
.row .column {
  width: 40%;
}
.column .tabs {
  display: flex;
}
.single-tab {
  background: white;
  margin-right: 10px;
  cursor: pointer;
}
.single-tab h2 {
  display: block;
  padding: 10px 16px;
  border-radius: 4px;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 600;
}
.about-img {
  position: relative;
  background-image: url(components/assets/omosimg.PNG);
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
}
.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: none;
}

.active-content {
  display: block;
}
.active-tab {
  background: #a7915e;
  position: relative;
}
.active-tab::before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #a7915e transparent transparent transparent;
}
.active-tab h2 {
  color: white;
}
.content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.content p {
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999;
}
.content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}
/* Skills CSS */
.skills-row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-column {
  margin-bottom: 30px;
  margin-right: 20px;
}
.progress-wrap h3 {
  font-size: 14px !important;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.progress {
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
  overflow: visible;
}
.progress-bar {
  width: 80%;
  height: 8px;
  background: #18dcff;
  line-height: 1.2;
  position: relative;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 2rem 1rem 3rem 1rem;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .about-img {
    height: 500px;
  }
  .row .column {
    width: 100%;
  }
  .tabs {
    padding-top: 3rem;
  }
  .skills-row {
    grid-template-columns: 1fr;
  }
}
/* css for om os slutter her */

/* CSS footer */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
/* CSS footer slut */

.slidetitle {
  position: relative;
  right: 100px;
}

.slidetitle1 {
  color: white;
  position: relative;
  left: 100px;
}

.home {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  grid-auto-flow: column;
  object-fit: cover;
  justify-content: center;
  box-sizing: border-box;
}

.column1 {
  width: 20%;
}

.column2 {
  width: 49%;
}

.column3 {
  width: 28%;
}

@media (max-width: 967px) {
  .home {
    flex-direction: column;
  }
}

@media (max-width: 967px) {
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }
}

/* Css nyhed */

.menu {
  position: relative;
  top: 100px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
  margin: 0 20px;
}

.food-items {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.food-items img {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}
.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}
.details-sub > h5 {
  font-weight: 600;
  font-size: 18px;
}
.price {
  text-align: right;
}
.details > p {
  color: #6f6f6f;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}

.details > a button {
  background-color: #a7915e;
  border: none;
  color: #ffffff;
  font-size: 16px;
  width: 300px;
  height: 50px;
}

/* Css nyhed slut */

.news1 {
  position: relative;
  background-image: url(components/assets/nyhed1.jpeg);
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
}

.news2 {
  position: relative;
  background-image: url(components/assets/nyhed2.jpeg);
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
}
