body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
   /* Modals */
   --btnColor: #A7915E;
   --border: 2px solid#A7915E;
   --bgColor: rgb(2, 2, 2);
   --BgPop:  hsl(0, 0%, 0%, 1.40);
   --gap: 25px;
   --btnWidth: 250px;
   --btradius: 26px;
   --Gap: 25px;
 
   /* Fonts  */
   --H1: #ffffff;
   --H2Color: #ffffff;
   --H1Size: 3rem;
   --P: #f2f2f2;
   --Psize: 15px;
   --H2: #f2f2f2;
   --H2size: 30px;
   --H3: #f2f2f2;
   --H3size: 40px;
 
   /* Delete knapper */
   --Delete: rgba(255, 255, 255, 0.143);
   --DeleteColor: rgba(250, 250, 250, 1);
   --DeleteBorder: 2px solid #A7915E;
 
 
   /* Tilføj nye beskeder */
   --addbtnSize: 80px;
   --addBtnBGColor: #A7915E;;
   --addBtnColor: rgb(216, 212, 215);
   --addBtnBorder: 2px solid rgb(216, 212, 215);
 
   /* nav */
  
   --navBGcolor: rgba(0,0,0,0.8);
   --iconColor: rgba(250,250,250,1);
 }
